// abstracts/_variables.scss
$primary-color: #FFFFFF;
$secondary-color: #F9FAFB;
$text-color: #323232;
$bg-color: #71BF45;
$bg-color-secondary: #727272;
$text-color-secondary: #727272;

$error: #EF4444;
$sucess: #71BF45;

$font-family: Plus Jakarta Sans, sans-serif;

$spacing-unit: 1rem;
$border-radius: 8px;

//common button 
$button-bgcolor: #71BF45;
$button-border-radius: 8px;
