// abstracts/_variables.scss
$primary-color: #ffffff;
$secondary-color: #f9fafb;
$text-color: #323232;
$bg-color: #71bf45;
$error: #ef4444;
$sucess: #71bf45;
$color-727272: #727272;
$color-333: #333;
$color-F8F9FA:#F8F9FA;
$bg-color: #ef44441a;

$font-family: Plus Jakarta Sans, sans-serif;

$spacing-unit: 1rem;
$border-radius: 8px;

//common button
$button-bgcolor: #71bf45;
$button-border-radius: 8px;


// font-size
$font20:20px;
$font16:16px;
$font14:14px;
$font12:12px;
$font17:17px;